<!-- portfolio -->
<div class="portfolio s4" id="portfolio">
    <div class="wrap">
        <h3>@Resources.Home.Portfolio.head</h3>
        <p>@Resources.Home.Portfolio.topText</p>
        <div class="col_1_of_3 images_1_of_3">
            <div class="view view-fourth">
                <img src="~/Assets/Images/port1.jpg">
                <div class="mask">
                    <h2>FILTER BY CATEGORY</h2>
                    <p class="a"><a href="#" class="info">All</a></p>
                    <p class="a"><a href="#" class="info">Themes</a></p>
                    <p class="a"><a href="#" class="info">Icons</a></p>
                    <p class="a"><a href="#" class="info">Patterns</a></p>
                    <p class="a"><a href="#" class="info">Mockups</a></p>
                    <p class="a"><a href="#" class="info">UI Kits</a></p>
                </div>
            </div>
        </div>
        <div class="col_1_of_3 images_1_of_3">
            <div class="view view-fourth">
                <img src="~/Assets/Images/port2.jpg">
                <div class="mask">
                    <h2>FILTER BY CATEGORY</h2>
                    <p class="a"><a href="#" class="info">All</a></p>
                    <p class="a"><a href="#" class="info">Themes</a></p>
                    <p class="a"><a href="#" class="info">Icons</a></p>
                    <p class="a"><a href="#" class="info">Patterns</a></p>
                    <p class="a"><a href="#" class="info">Mockups</a></p>
                    <p class="a"><a href="#" class="info">UI Kits</a></p>
                </div>
            </div>
        </div>
        <div class="col_1_of_3 images_1_of_3">
            <div class="view view-fourth">
                <img src="~/Assets/Images/port3.jpg">
                <div class="mask">
                    <h2>FILTER BY CATEGORY</h2>
                    <p class="a"><a href="#" class="info">All</a></p>
                    <p class="a"><a href="#" class="info">Themes</a></p>
                    <p class="a"><a href="#" class="info">Icons</a></p>
                    <p class="a"><a href="#" class="info">Patterns</a></p>
                    <p class="a"><a href="#" class="info">Mockups</a></p>
                    <p class="a"><a href="#" class="info">UI Kits</a></p>
                </div>
            </div>
        </div>
        <div class="col_1_of_3 images_1_of_3">
            <div class="view view-fourth">
                <img src="~/Assets/Images/port4.jpg">
                <div class="mask">
                    <h2>FILTER BY CATEGORY</h2>
                    <p class="a"><a href="#" class="info">All</a></p>
                    <p class="a"><a href="#" class="info">Themes</a></p>
                    <p class="a"><a href="#" class="info">Icons</a></p>
                    <p class="a"><a href="#" class="info">Patterns</a></p>
                    <p class="a"><a href="#" class="info">Mockups</a></p>
                    <p class="a"><a href="#" class="info">UI Kits</a></p>
                </div>
            </div>
        </div>
        <div class="col_1_of_3 images_1_of_3">
            <div class="view view-fourth">
                <img src="~/Assets/Images/port5.jpg">
                <div class="mask">
                    <h2>FILTER BY CATEGORY</h2>
                    <p class="a"><a href="#" class="info">All</a></p>
                    <p class="a"><a href="#" class="info">Themes</a></p>
                    <p class="a"><a href="#" class="info">Icons</a></p>
                    <p class="a"><a href="#" class="info">Patterns</a></p>
                    <p class="a"><a href="#" class="info">Mockups</a></p>
                    <p class="a"><a href="#" class="info">UI Kits</a></p>
                </div>
            </div>
        </div>
        <div class="col_1_of_3 images_1_of_3">
            <div class="view view-fourth">
                <img src="~/Assets/Images/port6.jpg">
                <div class="mask">
                    <h2>FILTER BY CATEGORY</h2>
                    <p class="a"><a href="#" class="info">All</a></p>
                    <p class="a"><a href="#" class="info">Themes</a></p>
                    <p class="a"><a href="#" class="info">Icons</a></p>
                    <p class="a"><a href="#" class="info">Patterns</a></p>
                    <p class="a"><a href="#" class="info">Mockups</a></p>
                    <p class="a"><a href="#" class="info">UI Kits</a></p>
                </div>
            </div>
        </div>
        <div class="col_1_of_3 images_1_of_3">
            <div class="view view-fourth">
                <img src="~/Assets/Images/port7.jpg">
                <div class="mask">
                    <h2>FILTER BY CATEGORY</h2>
                    <p class="a"><a href="#" class="info">All</a></p>
                    <p class="a"><a href="#" class="info">Themes</a></p>
                    <p class="a"><a href="#" class="info">Icons</a></p>
                    <p class="a"><a href="#" class="info">Patterns</a></p>
                    <p class="a"><a href="#" class="info">Mockups</a></p>
                    <p class="a"><a href="#" class="info">UI Kits</a></p>
                </div>
            </div>
        </div>
        <div class="col_1_of_3 images_1_of_3">
            <div class="view view-fourth">
                <img src="~/Assets/Images/port8.jpg">

                <div class="mask">
                    <h2>FILTER BY CATEGORY</h2>
                    <p class="a"><a href="#" class="info">All</a></p>
                    <p class="a"><a href="#" class="info">Themes</a></p>
                    <p class="a"><a href="#" class="info">Icons</a></p>
                    <p class="a"><a href="#" class="info">Patterns</a></p>
                    <p class="a"><a href="#" class="info">Mockups</a></p>
                    <p class="a"><a href="#" class="info">UI Kits</a></p>
                </div>
            </div>
        </div>
        <div class="col_1_of_3 images_1_of_3">
            <div class="view view-fourth">
                <img src="~/Assets/Images/port1.jpg">
                <div class="mask">
                    <h2>FILTER BY CATEGORY</h2>
                    <p class="a"><a href="#" class="info">All</a></p>
                    <p class="a"><a href="#" class="info">Themes</a></p>
                    <p class="a"><a href="#" class="info">Icons</a></p>
                    <p class="a"><a href="#" class="info">Patterns</a></p>
                    <p class="a"><a href="#" class="info">Mockups</a></p>
                    <p class="a"><a href="#" class="info">UI Kits</a></p>
                </div>
            </div>
        </div></a>
        <div class="clear"></div>
    </div>
</div>

