<!-- resume -->
<div class="resume s3" id="resume">
    <div class="resume-top">
        <div class="wrap">
            <h3>@Resources.Home.Resume.title</h3>
            <p>@Resources.Home.Resume.p1</p>
            <p><a href="#">@Resources.Home.Resume.downloadResume</a></p>
        </div>
    </div>
    @Html.Action("Education")
</div>
